name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py') --ignore=plot_speed_on_track.py
        if [ $? -eq 0 ]; then echo '<https://img.shields.io/badge/linting-pylint-success>' > pylint_badge.txt; else echo '<https://img.shields.io/badge/linting-pylint-red>' > pylint_badge.txt; fi
        git config user.name "Parker Allen"
        git config user.email "allenparker293@gmail.com"
        git add pylint_badge.txt
        git commit -m "Update pylint badge"
        git push
        
